.vscode/launch.json
bin/Debug/netcoreapp2.0/MVC.dll
bin/Debug/netcoreapp2.0/MVC.pdb
bin/Debug/netcoreapp2.0/MVC.deps.json
bin/release/netcoreapp2.0/MVC.dll
bin/release/netcoreapp2.0/MVC.pdb
bin/release/netcoreapp2.0/MVC.deps.json
bin/release/netcoreapp2.0/publish/Dapper.dll
bin/release/netcoreapp2.0/publish/MVC.dll
bin/release/netcoreapp2.0/publish/MVC.pdb
bin/release/netcoreapp2.0/publish/MVC.PrecompiledViews.dll
bin/release/netcoreapp2.0/publish/MVC.PrecompiledViews.pdb
bin/release/netcoreapp2.0/publish/MVC.deps.json
obj/MVC.csproj.nuget.cache
obj/project.assets.json
obj/Debug/netcoreapp2.0/MVC.dll
obj/Debug/netcoreapp2.0/MVC.pdb
obj/Debug/netcoreapp2.0/MVC.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.0/MVC.csprojResolveAssemblyReference.cache
obj/release/netcoreapp2.0/MVC.dll
obj/release/netcoreapp2.0/MVC.pdb
obj/release/netcoreapp2.0/MVC.PrecompiledViews.dll
obj/release/netcoreapp2.0/MVC.PrecompiledViews.pdb
obj/release/netcoreapp2.0/MVC.csproj.CoreCompileInputs.cache
obj/release/netcoreapp2.0/microsoft.aspnetcore.mvc.razor.viewcompilation.rsp
